#weather-details {
    background-color: #d0e3ef;
    padding: 15px;
    border-radius: 40px;
    text-align: center;
    margin-right: 2rem;
    height: 17rem;
    width: 26rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#advanced-info{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: start;
}
#weather-details img {
    width: 50px;
    height: 50px;
}
