#weather-forecast {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #4a90e2;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    font-weight: bold;
}

#forecast-properties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #d4e8ff;
    border-radius: 8px;
    padding: 20px;
    width: 12rem;
    text-align: center;
    margin: 10px;
    height: 10rem;
}